.dashboard {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard__container {
  flex-direction: column;
  text-align: flex-start;
  margin-left: 250px;
  background-color: #2196f3;
  padding: 5px;
  border-radius: 0px 0px 30px 30px;
}

.container {
  margin-left: 25%;
  margin-top: 2%;
}

.container h4 {
  text-decoration: underline;
  margin-bottom: 5%;
}

.sidenav {
  margin-top: 155px;
  height: 600px;
}

.container form {
  width: 260px;
}

.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: black;
}
.collection .with-header {
  width: 100%;
  margin-left: 20%;
}
.users {
  margin-left: 22%;
}
.parkingLots_container {
  margin-left: 50%;
  margin-top: -17.5%;
  width: 10%;
}

.parkingLots_container ul li {
  font-size: 20px;
  text-decoration: underline;
}

.vl {
  border-left: 4px solid rgb(226, 231, 226);
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 155px;
}
